body,
h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

ul,
li,
ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

input,
textarea {
    background: none;
    border: 1px solid #fff;
    outline: #fff;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
}
/* .clearfix:before, */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.pd-t {
    padding-top: 50px;
}
.pd-b {
    padding-bottom: 50px;
}
.text-title {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #555;
    padding: 60px 0 40px 0;
}
.text-title span {
    font-weight: 500;
    color: #333;
}




/* 顶部 */
#header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.login .shortcut {
    float: right;
    color: #eee;
    padding-top: 20px;
}
.login .shortcut a span {
    width: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    background: #9e9e9e;
    transition: all .5s;
}
.login .shortcut a {
    color: #eee;
    margin: 0 2px;
}
.login .shortcut a:hover span {
    color: #9e9e9e;
    background: white;
}

.login .shortcut .email {
    display: inline-block;
    margin: 0 20px;
}
.login .shortcut .email i {
    margin-right: 5px;
}
.login .shortcut .email a {
    color: #eee;
    transition: all .5s;
}
.login .shortcut .email a:hover {
    color: #fff;
}

.top {
    padding-top: 10px;
    line-height: 35px;
}
.top .logo {
    float: left;
}
.top .logo a {
    font-size: 26px;
}
.top .logo a span {
    color: #0079c1;
}
.top ul {
    float: right;
}
.top ul li {
    float: left;
    padding: 0 10px;
}
.top ul li a {
    color: #eee;
}
.top ul li .dropdown {
    position: relative;
    display: inline-block;
}
.top ul li .dropdown a span {
    margin-left: 5px;
}
.top ul li .dropdown:hover .dropdown-content {
    display: block;
}
.top ul li .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    width: 170px;
    padding: 15px;
    padding-right: 25px;
    top: 35px;
}
.top ul li .dropdown .dropdown-content a {
    display: inline-block;
    line-height: 40px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: black;
}
.top ul li .dropdown .dropdown-content a:hover {
    background: rgba(241, 241, 241,0.5);
}
.title {
    width: 750px;
    margin: 0 auto;
    margin-top: 190px;
    text-align: center;
    color: white;
}
.title h1 {
    font-size: 48px;
}
.title p {
    margin-top: 15px;
    line-height: 30px;
    font-weight: 300;
}
.rotate {
    margin: 0 auto;
    margin-top: 210px;
    position: relative;
    top: -100px;
    text-align: center;
}
.rotate a span {
    transition: all .3s;
}
.rotate a:hover span {
    color: #0079c1;
}


/* 内容区块 */
/* Why Choose Us */
#content {
    background: #fff;
}
.choose .card li {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}
.card-cotnent {
    text-align: center;
}
.card-cotnent span {
    width: 70px;
    line-height: 70px;
    background: #0079c1;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.card-cotnent h3 {
    color :#323648;
    font-size: 23px;
    font-weight: 400;
}
.card-cotnent p {
    margin-top: 10px;
    color: #707579;
    line-height: 30px;
}

/* Explore The World With Us */
.explore {
    width: 100%;
    overflow: hidden;
}
.explore-left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px 10px 0 10px;
}
.explore-left img {
    width: 100%;
    display: block;
}
.explore-right {
    width: 50%;
    float: right;
}
.explore-right .explore-content {
    box-sizing: border-box;
    padding: 0 10px;
}
.explore-right .explore-content h5 {
    color: #999;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 30px 0 10px 0;
}
.explore-right .explore-content h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    color: #323648;
}
.explore-right .explore-content span {
    color: #0079c1;
}
.explore-right .explore-content p:nth-last-child(2) {
    margin: 20px 0;
    color: #323648;
    letter-spacing: 1px;
    font-size: 18px;
}
.explore-right .explore-content p:nth-last-child(1) {
    color: #707579;
    text-align: justify;
    line-height: 30px;
}

/* Our Agents */
.agent {
    width: 100%;
    background: #F5F5F5;
}
.agent li {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}
.agent-girds {
    padding: 30px 0;
    background: #fff;
    text-align: center;
    box-shadow: 7px 7px 10px 0 rgba(86, 117, 255, 0.15);
    transition: all .3s;
    position: relative;
    top: 0;
    left: 0;
}
.agent-girds:hover {
    box-shadow: 7px 7px 10px 0 rgba(86, 117, 255, 0.35);
    top: -10px;
    left: -3px;
}
.agent-girds .img-1 {
    background: url(../img/team1.jpg);
}
.agent-girds .img-2 {
    background: url(../img/team2.jpg);
}
.agent-girds .img-3 {
    background: url(../img/team3.jpg);
}
.agent-girds .img-4 {
    background: url(../img/team4.jpg);
}
.agent-girds .girds-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #f9f9f9;
}
.agent-girds h3 {
    font-weight: 500;
    padding-top: 20px;
}
.agent-girds p:nth-last-child(2) {
    padding-top: 10px;
}
.agent-girds p {
    line-height: 30px;
    letter-spacing: 1px;
    color: #707579;
}

/* Travel With Us */
.travel {
    background: #fff;
}
.travel-grids li {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 20px 15px; 
}
.travel-grids-img-1 {
    background: url('../img/holy.jpg');
}
.travel-grids-img-2 {
    background: url('../img/taaj.jpg');   
}
.travel-grids-img-3 {
    background: url('../img/rome1.jpg');   
}
.travel-grids-img-4 {
    background: url('../img/paris.jpg');   
}
.travel-grids-img-5 {
    background: url('../img/tour.jpg');   
}
.travel-grids-img-6 {
    background: url('../img/tour2.jpg');   
}
.travel-grids-img-7 {
    background: url('../img/london.jpg');   
}
.travel-grids-img-8 {
    background: url('../img/tour3.jpg');   
}

.travel-grids li .travel-grids-img {
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}
.travel-grids-bg {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -260px;
    transition: all .3s;
    overflow: hidden;
}

.travel li:hover .travel-grids-bg {
    top: 0;
}
.travel li:hover span {
    left: 0;
}
.travel li:hover span:nth-child(1) {
    transition: all .5s;
}
.travel li:hover span:nth-child(2) {
    transition: all .6s;
}
.travel li:hover span:nth-child(3) {
    transition: all .7s;
}
.travel li:hover span:nth-child(4) {
    transition: all .8s;
}
.travel li:hover span:nth-child(5) {
    transition: all .9s;
}
.travel-pd {
    padding: 35px 25px;
}
.travel-pd span {
    color: #fff;
    margin: 0 1px;
    font-size: 13px;
    position: relative;
    left: -180px;
}
.travel-pd h3 {
    color: #fff;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    right: -240px;
    transition: .85s;
}
.travel li:hover h3 {
    right: 0;
}
.travel-pd p {
    display: inline-block;
    color: #fff;
    margin-top: 110px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    right: -240px;
    transition: .6s;
}
.travel li:hover p {
    right: 0;
}
.travel-pd p i {
    font-size: 18px;
    position: relative;
    left: 0;
}
.travel-pd p:nth-last-child(1) i {
    margin-left: 10px;
}

/* Travel Packages */
.packages {
    background: #F8F9FA;
}
.packages ul {
    width: 100%;
    text-align: center;
}
.packages ul li {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding:  0 15px;
}
.packages-girds {
    background: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px 30px;
    color: #323648;
}
.packages-girds h3 {
    font-size: 26px;
    font-weight: 400;
    padding-top: 10px;
}
.packages-girds h5 {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
}
.packages-girds i {
    letter-spacing: 1px;
    line-height: 28px;
}
.packages-girds p {
    text-align: left;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: 400;
}
.packages-girds p:nth-last-child(4) {
    padding-top: 25px;
}
.packages-girds p:nth-last-child(1) {
    margin-bottom: 20px;
}
.packages ul li a {
    color: #0079c1;
    line-height: 50px;
}
.packages-tab {
    background: #0079c1;
    color: #bbb;
}
.packages-tab h5 {
    color: #fff;
}

/* Latest News Blog */
.latest {
    background: #fff;
}
.latest ul li {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 20px 15px;
}
.lastest-grids img {
    width: 100%;
    display: block;
}
.lastest-grids p {
    color: #999;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 15px;
}
.lastest-grids p span:last-child {
    padding-left: 20px;
}
.lastest-grids a {
    color: #222;
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin: 10px 0;
}
.lastest-grids i {
    color: #999;
    letter-spacing: 0.5px;
    line-height: 25px;
}

/* Do You Want To Go */
.want {
    background: #0079c1;
}
.want-content {
    box-sizing: border-box;
    padding: 80px 400px 80px 0;
}
.want-content h1 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
.want-content p {
    padding: 30px 0 50px 0;
    line-height: 28px;
    color: #ccc;
    letter-spacing: 0.5px;
}
.want-content input {
    border: 1px solid #ccc;
    outline: #ccc;
    width: 250px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #fff;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 13px 15px;
}
input::-webkit-input-placeholder {
    color: #ccc;
}
.want-content input:last-child {
    background: #fff;
    border: 1px solid #fff;
    color: #0079c1;
    width: 190px;
    cursor: pointer;
}

/* Contact Us */
#contact {
    background: #fff;
}
#contact h1 {
    font-size: 48px;
    font-weight: 500;
    color: #333;
    text-align: center;
    padding: 70px 0;
}
#contact ul {
    width: 40%;
    box-sizing: border-box;
    padding: 0 15px;
    float: left;
}
#contact ul li {
    width: 100%;
}
#contact ul li input,
#contact ul li textarea {
    border-color: #888;
    color: #333;
    margin-top: 15px;
    padding: 15px;
    font-size: 14px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888;
    font-size: 14px;
    font-weight: 300;
}
#contact ul li:first-child input {
    margin-top: 0;
}
#contact ul li input {
    width: 100%;
}
#contact ul li textarea {
    resize: none;
    width: 100%;
    height: 100px;
}
#contact ul li input[type=submit] {
    width: 130px;
    padding: 10px;
    background: #0079c1;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.contact-right {
    width: 60%;
    float: right;
    box-sizing: border-box;
    padding: 0 15px;
}
.contact-right-content {
    width: 100%;
    height: 280px;
    /* background: #0079c1; */
    border: 5px dotted #0079c1;
}

/* footer */
.footer {
    background: #252525;
}
.footer-top-left {
    color: #ccc;
    width: 40%;
    float: left;
}
.footer-top-left h1 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 50px;
}
.footer-top-left span {
    color: #707579; 
    line-height: 40px;
    font-weight: 400;
}
.footer-top-right {
    padding-top: 50px;
    width: 60%;
    float: right;
    position: relative;
}
.footer-top-right input:first-child {
    font-size: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #777;
    box-sizing: border-box;
    padding: 15px 200px 15px 10px;
    color: #fff;
}
.footer-top-right input:last-child {
    width: 25%;
    border: none;
    padding: 15px 13px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    background: #0079c1;
    position: absolute;
    right: 0;
    top: 51px;
    cursor: pointer;
}

.footer ul {
    width: 100%;
}
.footer ul li {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}
.footer ul li h3 {
    font-size: 20px;
    color: #ccc;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 20px 0;
}
.footer ul li h5 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #aaa;
    background: #292929;
    text-align: center;
    padding: 5px 0;
}
.footer ul li p {
    font-size: 14px;
    color: #707579;
    line-height: 24px;
    padding: 5px 0;
}
.footer ul li:first-child p {
    padding-top: 15px;
}
.footer ul li p a {
    color: #707579;
    transition: all .4s;
}
.footer ul li p a:hover {
    color: #0079c1;
}
.footer ul li:last-child a {
    color: #555;
    transition: all .4s;
}

.skip {
    width: 100%;
    text-align: center;
}
.gotohr {
    font-size: 28px;
    text-align: center;
}