@keyframes whoAnimation {
    0% {
        top: 200px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

#who-we-are.animation {
    animation: whoAnimation .7s 1 cubic-bezier(0.74, 0.02, 0.46, 1.4);
}














@keyframes worksAnimation {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rockAnimation {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes teamAnimation {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes factsAnimation {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes servicesAnimation {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes skillAnimation {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes porAnimation {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes sayAnimation {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes newsAnimation {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fullAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes usAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}